.gallery {
	background-color: #ffffff;
  min-width: 1100px;
  text-align: center;
  overflow: hidden;
}

.gallery__wrapper {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__title {
  position: relative;
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-family: MuseoSans;
  letter-spacing: -0.8px;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.gallery__title-quantity {
	position: relative;
  margin: 110px 0px 0px 0px;
  padding: 0px;
  font-family: MuseoSans;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  z-index: 100;
}

.gallery__photos {
  margin-top: 40px;
  margin-bottom: 89px;
}

.gallery__line-first {
  font-size: 0px;
  width: 960px;
  height: 222px;
  margin: 0 auto;
  display: block;
  &:nth-child(3) {
    margin: 0 auto;
  }
}

.gallery__line-second {
  font-size: 0px;
  width: 960px;
  height: 222px;
  margin: 4px auto 0 auto;
  display: block;
  &:nth-child(4) {
    margin: 0 auto;
  }
}

.gallery__photo {
  display: block;
  float: left;
  margin: 0 4px 0 auto;
  height: 100%;
  background-color: red;
  overflow: hidden;
  position: relative;
}

.gallery__photo--small {
  width: calc(25% - 4px);
}

.gallery__photo--large {
  width: calc(50% - 4px);
}

.gallery__image-preview {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery__image-large {
	width: 100%;
	display: block;
	opacity: 1;
}

.gallery__photo-hiden {
	display: none;
}
